.App {
  font-family: sans-serif;
}

h1 {
  color: rgb(5, 141, 179);
  margin-left: 26px;
}

button {
  padding: 4px;
  margin: 10px;
  margin-left: 22px;
  background-color: antiquewhite;
  cursor: pointer;
}

li {
  text-decoration: none;
  list-style: decimal;
  padding: 5px;
  margin: 5px;
}
input {
  padding: 3px;
  border-radius: 2px;
}
